body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', Arial, Verdana; 
    background-color: #f5f5f5;
}

.container {
    width: 100%; /* Aumenta el ancho del contenedor */
    max-width: 1200px;
    text-align: center;
    border: 1px solid #00796b; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px; 
    background-color: white;
}

textarea {
    width: 100%;
    margin-bottom: 0%;
    text-align: left;
    border: 1px solid #00796b;
    padding: 10px;
    box-sizing: border-box;
    resize: both; 
    border-radius: 4px; 
}

input[type="submit"], input[type="button"] {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #00796b;
    border-radius: 4px; 
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);  
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    font-family: 'Courier', Verdana, sans-serif;
}

.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    justify-content: space-between; /* Alinea las tablas a los lados */
    width: 100%; /* Asegúrate de que ocupa todo el ancho */
}

.line-info-table, .token-table {
    width: 50%; /* Ajusta el ancho para que las tablas ocupen el espacio disponible */
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    overflow-x: auto;
    margin-bottom: 0%;
}

.line-info-table table, .token-table table {
    width: 100%;
    border-collapse: collapse;
}

.line-info-table th, .line-info-table td,
.token-table th, .token-table td {
    border: 2px solid #ddd;
    padding: 2px;
    text-align: center;
}

.line-info-table th, .token-table th {
    background-color: #f2f2f2;
    text-align: center;
}
